@charset "utf-8";
/* CSS Document */
.texto {
	
	background-color:#005A4C ; 
    text-align: justify;
	color:#FFFFFF;
	margin: 200px;
	padding: 0px;
	font-size: 35px;
}
#destacado{
	
	color:#D5D426;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-style: italic;
	font-size: 30px;
	
}
#informacion{
	
	color:antiquewhite;
	font-family:Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	font-style:normal;
	font-size: 15px;
	text-align: justify
	
}

#titulos{
	
	color:#CF7C13;
	font-family:Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	text-align: center;
	font-style:normal;
	font-size: 25px;
	
}

.tradicional {
	
    text-align:center;
	color:#CF7C13;
	font-family:Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	font-style:normal;
	font-size: 25px;
	}
.informacionX{
	
	color:antiquewhite;
	font-family:Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	font-style:normal;
	font-size: 15px;
	text-align: justify
	
}
*{
	margin: 0;
	padding: 0;
}

h1 {
	background-color:#005A4C ; 
    text-align:center;
	color:#FFFFFF;
	margin:0px;
	padding: 0px;
	font-size: 35px;
}

